{{#*inline "topbar-hack"}}
  <div class="topbar">
{{/inline}}
{{#*inline "topbar-hack-end"}}
  </div>
{{/inline}}

{{#*inline "controls"}}
  <div id="controls">
    <div id="controls-left">
      <span id="lifter">Meet Results for {{lifter.name}}</span>
      <select id="weighttype">
        <option value="lb">lbs</option>
        <option value="kg">kg</option>
      </select>
    </div>
  </div>
{{/inline}}

{{#*inline "body"}}
  <div class="content">
    {{! Best statistics table. }}
    <table>
      <thead>
        <th>Equipment</th>
        <th>Best Squat</th>
	<th>Best Bench</th>
	<th>Best Deadlift</th>
	<th>Best Total</th>
	<th>Best Wilks</th>
      </thead>
      <tbody>
        <tr>
	  <td>Raw/Wraps</td>
	  <td>{{best_raw_squat}}</td>
	  <td>{{best_raw_bench}}</td>
	  <td>{{best_raw_deadlift}}</td>
	  <td>{{best_raw_total}}</td>
	  <td>{{best_raw_wilks}}</td>
        </tr>
      </tbody>
    </table>

    {{! Meet results table. }}
    <table>
      <thead>
        <th>Place</th>
        <th>Fed</th>
        <th>Date</th>
        <th>Location</th>
        <th>Meet Name</th>
        <th>Division</th>
        <th>Sex</th>
        <th>Equip</th>
        <th>Class</th>
        <th>Weight</th>
        <th>Squat</th>
        <th>Bench</th>
        <th>Deadlift</th>
        <th>Total</th>
        <th>Wilks</th>
      </thead>
      {{#each entries}}
        <tr>
          <td>{{this.0.place}}</td>
          <td>{{this.1.federation}}</td>
          <td>{{this.1.date}}</td>
          <td>{{this.1.country}}{{#if this.1.state}}-{{this.1.state}}{{/if}}</td>
          <td><a href="/m/{{this.1.path}}">{{this.1.name}}</a></td>
          <td>{{this.0.division}}</td>
          <td>{{this.0.sex}}</td>
          <td>{{this.0.equipment}}</td>
          <td>{{this.0.weightclasskg}}</td>
          <td>{{this.0.bodyweightkg}}</td>
          {{! FIXME -- Need to take a max of BestFooKg and Foo4Kg. }}
          <td>{{this.0.bestsquatkg}}</td>
          <td>{{this.0.bestbenchkg}}</td>
          <td>{{this.0.bestdeadliftkg}}</td>
          <td>{{this.0.totalkg}}</td>
          <td>{{this.0.wilks}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
{{/inline}}

{{~> desktop-base}}
