{{#*inline "topbar-hack"}}
  <div class="topbar">
{{/inline}}
{{#*inline "topbar-hack-end"}}
  </div>
{{/inline}}

{{#*inline "controls"}}
  <div id="controls">
    <div id="controls-left">
      <span id="meet">{{meet_display_string}}</span>
      <select id="displaytype">
        <option value="wilks">By Wilks</option>
	<option value="division">By Division</option>
      </select>
      <select id="weighttype">
        <option value="lb">lbs</option>
        <option value="kg">kg</option>
      </select>
    </div>
    <div id="controls-right">
      <a href="https://github.com/sstangl/openpowerlifting/tree/master/meet-data/{{meetpath}}">Edit Meet</a>
    </div>
  </div>
{{/inline}}

{{#*inline "body"}}
  <div class="content">
    {{! Meet results table. }}
    <table>
      <thead>
        <th>Wilks Place</th>
        <th>Name</th>
        <th>Sex</th>
        <th>Age</th>
        <th>Equip</th>
        <th>Class</th>
        <th>Weight</th>
        <th>Squat</th>
        <th>Bench</th>
        <th>Deadlift</th>
        <th>Total</th>
        <th>Wilks</th>
      </thead>
      {{~#each entries~}}
        <tr>
	  <td>TODO</td>
	  <td>
            <a href="/u/{{this.1.username}}">{{this.1.name}}</a>
            {{~#if this.1.instagram~}}
              <a href="https://www.instagram.com/{{this.1.instagram}}" class="instagram"><i class="fa fa-instagram fa-resize"></i></a>
            {{/if}}
          </td>
          <td>{{this.0.sex}}</td>
          <td>{{this.0.age}}</td>
          <td>{{this.0.equipment}}</td>
          <td>{{this.0.weightclasskg}}</td>
          <td>{{this.0.bodyweightkg}}</td>
          {{! FIXME -- Need to take a max of BestFooKg and Foo4Kg. }}
          <td>{{this.0.bestsquatkg}}</td>
          <td>{{this.0.bestbenchkg}}</td>
          <td>{{this.0.bestdeadliftkg}}</td>
          <td>{{this.0.totalkg}}</td>
          <td>{{this.0.wilks}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
{{/inline}}

{{~> desktop-base}}
