{{#*inline "topbar-hack"}}
  <div class="topbar">
{{/inline}}
{{#*inline "topbar-hack-end"}}
  </div>
{{/inline}}

{{#*inline "controls"}}
  <div id="controls">
    <div id="controls-left">
      <span id="meet">{{meet.federation}} &nbsp;/&nbsp; {{meet.date}} &nbsp;/&nbsp; {{meet.name}}</span>
      <select id="displaytype">
        <option value="wilks">By Wilks</option>
	<option value="division">By Division</option>
      </select>
      <select id="weighttype">
        <option value="lb">lbs</option>
        <option value="kg">kg</option>
      </select>
    </div>
    <div id="controls-right">
      <a href="https://github.com/sstangl/openpowerlifting/tree/master/meet-data/{{meetpath}}">Edit Meet</a>
    </div>
  </div>
{{/inline}}

{{#*inline "body"}}
  <div class="content">
    {{! Meet results table. }}
    <table>
      <thead>
        <th>Wilks Place</th>
        <th>Name</th>
        <th>Sex</th>
        <th>Age</th>
        <th>Equip</th>
        <th>Class</th>
        <th>Weight</th>
        <th>Squat</th>
        <th>Bench</th>
        <th>Deadlift</th>
        <th>Total</th>
        <th>Wilks</th>
      </thead>
      {{~#each rows~}}
        <tr>
	  <td>{{this.place}}</td>
	  <td>
            <a href="/u/{{this.username}}">{{this.name}}</a>
            {{~#if this.instagram~}}
              <a href="https://www.instagram.com/{{this.instagram}}" class="instagram"><i class="fa fa-instagram fa-resize"></i></a>
            {{/if}}
          </td>
          <td>{{this.sex}}</td>
          <td>{{this.age}}</td>
          <td>{{this.equipment}}</td>
          <td>{{this.weightclasskg}}</td>
          <td>{{this.bodyweightkg}}</td>
          <td>{{this.squatkg}}</td>
          <td>{{this.benchkg}}</td>
          <td>{{this.deadliftkg}}</td>
          <td>{{this.totalkg}}</td>
          <td>{{this.wilks}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
{{/inline}}

{{~> desktop-base}}
